#contact {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-top: .5em;
}

#contact li a {
    color: #B26AAB;
}

#logo {
    margin-top: 4em;
    text-align: center;
}

#main {
    margin-top: 4em;
}

#menu {
    list-style-type: none;
    margin-top: 3em;
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
}

#menu li {
    margin-top: 1em;
    text-transform: uppercase;
}

#menu li a {
    color: #57B598;
}

#menu li.active a {
    color: #17967D;
}

.work {
    margin-bottom: .5em;
    margin-top: .5em;
}

body,html {
    background-color: #f6eaea;
}

h1 {
    color: #B26AAB;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #C19BC0;
    font-size: 1em;
    padding: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

p {
    margin-top: 2em;
}
